/*-----------------------------------------
Designed and Developed by http://nisquaretech.com/
-------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic);
body {
	font-family: 'Roboto', sans-serif;
  color: #444;
}
h1,
h2,
h3,
h4

 { font-weight: 300; font-family: 'Oswald', sans-serif; }
*,
*:focus { outline: none !important }
a { color: white }
a:hover,
a:focus {
  color: #0c86b6;
  text-decoration: none;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
  #submenu {
            border: 1px solid transparent;
            background-color: #0078c1;
            width: 100%;
            text-align: center;
        
	color:white;
          z-index:99;
            font-size: 15px;
            font-weight: bold;
            position: fixed;
             
        }
         #submenu :hover{
                       color: black;
          
        }
.btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
      -ms-transition: all .2s;
          transition: all .2s;
}
.btn-primary{
	background-color: #FF7F00;
border: 1px solid #F4901C;
	}
.btn-blue {
  color: #fff;
  background-color: #26A2DD;
}
.btn-blue:hover,
.btn-blue:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-green {
  color: #fff;
  background-color: #71be3c;
}
.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark {
  color: #fff;
  background-color: #2a3940;
}
.btn-dark:hover,
.btn-dark:focus {
  color: #fff;
  background-color: #2a3940;
}
.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.fading-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/fading-line.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#navbar-top { 
	min-height: 70px;
 }
.navbar {
	min-height: 70px;
    
}
.navbar-default {
  margin-bottom: 0;
  background-color: white;
  color:black;
  border: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.navbar-brand{
	padding:0px;
	font-size: 18px;
	line-height: 70px;
	height:70px;
	}
.navbar-default .navbar-brand{
	/*font-family: 'Lobster Two', cursive;*/
    font-family:Batang;
	color:black;
	font-size: 28px;
	}	
.navbar-nav>li>a {
    color:black;
line-height: 40px;

}
.navbar-nav>li.active {
background:white;
color:black;
}
.navbar-nav>li.active a{
	color:#8a2be2;
	}
.navbar-default{ 	
	background:white;
    color:black;
	}
.navbar-default .navbar-brand {
  font-weight: 600;
  
  color:black;
}
.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  text-transform: uppercase;
  color:black;
  
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #8a2be2;
  background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color: black;}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #333 }
.navbar-default.affix {
  top: 0;
  z-index: 99;
  width: 100%;
  /*border-bottom-color: transparent;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
     -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);*/
}
.navbar>.container .navbar-brand:hover{
 color:black;
}
.banner-content{ 
position: absolute;
top: 0px;
bottom: 0px; 
text-align: center;
left: 0px;
right: 0px;
	}
.heroText {
margin-top: 19%;
    opacity: .7;
}
.heroText h2 {
border: none;
color: #FFF;
text-transform: uppercase;
line-height: 80px;
padding-bottom: 0;
font-size: 65px;
margin-bottom: 35px;
    text-align: center;
font-weight: bold;
    text-shadow: 1px 0px 1px #000;
}
.heroText h2 strong{
    font-size: 50px;
}
.carousel-indicators li{
width: 10px;
height: 10px; 
border: 1px solid #fff;  
} 	
.page { overflow: hidden } 
.page .container {
padding: 10px 0;

}
.page .content.cover { padding: 180px 0 }
.page .heading h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.page .border {
  width: 80px;
  height: 2px;
  margin: 0 auto;
  background-color: #71be3c;
}
.page .heading {margin-bottom:10px}
.page .heading p{padding:15px 0; font-size:18PX;  font-family:Calibri; }
#home {
  padding: 0;
  color: #fff;
  /*background-image: url(../img/cover/home.jpg);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  z-index:99;
  }
/*#home h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
}
#home a { margin: 0 5px }
#home h3 {
  margin-top: 20px;
  margin-bottom: 0;
}*/
#services {
  background-color: white;
  border-bottom: solid 1px #e7e7e7;
     /*background-image: url(../img/cover/sv-bg.jpg);*/
}
.service-icon{ 
border-radius: 129px; 
width: 180px;
height: 180px;
margin: 0px auto;
display: inline-block;
overflow: hidden;}
.service-icon i{
	font-size:3em;
	color:#28A09F;
	}
#work{background:#000; color:#fff;} 
#portfolio { width: 100% }
#portfolio .filters { margin-bottom: 20px }
#portfolio .filters li a {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
}
#portfolio .filters li a,
#portfolio .filters li a:hover,
#portfolio .filters li a:focus { color: #E0E0E0 }
#portfolio .filters li a.active { color: #fff }
#portfolio .items { margin-bottom: 0 }
#portfolio .items li {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
}
#portfolio .items li a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
         transition: all 0.3s ease-in-out;
  opacity: 0;
}
#portfolio .items li a .overlay span {
 color: #FFF;
position: absolute;
height: 50px;
top: 50%;
left: 0px;
right: 0px;
margin-top: -25px;
line-height: 50px;
}
#portfolio .items li a:hover .overlay { opacity: 1 }
#portfolio .items li a:hover img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#clients {
  color: black;
  background-color:white;
 
}
#testimonialsveg .item,#testimonialsnonveg .item,#testimonialsLite .item,#testimonialsThismondayv .item,#testimonialsThismondaynv .item,#testimonialsThismondayl .item,#testimonialsThistuesdayv .item,#testimonialsThistuesdaynv .item,#testimonialsThistuesdayl .item,#testimonialsThiswednesdayv .item,#testimonialsThiswednesdaynv .item,#testimonialsThiswednesdayl .item,#testimonialsThisthursdayv .item,#testimonialsThisthursdaynv .item,#testimonialsThisthursdayl .item,#testimonialsThisfridayv .item,#testimonialsThisfridaynv .item,#testimonialsThisfridayl .item,#testimonialsThissaturdayv .item,#testimonialsThissaturdaynv .item,#testimonialsThissaturdayl .item { margin-bottom: 30px }
#testimonialsveg .quote,#testimonialsnonveg .quote,#testimonialsLite .quote,#testimonialsThismondayv .quote,#testimonialsThismondaynv .quote,#testimonialsThismondayl .quote,#testimonialsThistuesdayv .quote,#testimonialsThistuesdaynv .quote,#testimonialsThistuesdayl .quote,#testimonialsThiswednesdayv .quote,#testimonialsThiswednesdaynv .quote,#testimonialsThiswednesdayl .quote,#testimonialsThisthursdayv .quote,#testimonialsThisthursdaynv .quote,#testimonialsThisthursdayl .quote,#testimonialsThisfridayv .quote,#testimonialsThisfridaynv .quote,#testimonialsThisfridayl .quote,#testimonialsThissaturdayv .quote,#testimonialsThissaturdaynv .quote,#testimonialsThissaturdayl .quote {
  padding: 0 90px;
  font-size: 16px;
}
#testimonialsveg .quote:before,#testimonialsnonveg .quote:before,#testimonialsLite .quote:before,#testimonialsThismondayv .quote:before,#testimonialsThismondaynv .quote:before,#testimonialsThismondayl .quote:before,#testimonialsThistuesdayv .quote:before,#testimonialsThistuesdaynv .quote:before,#testimonialsThistuesdayl .quote:before,#testimonialsThiswednesdayv .quote:before,#testimonialsThiswednesdaynv .quote:before,#testimonialsThiswednesdayl .quote:before,#testimonialsThisthursdayv .quote:before,#testimonialsThisthursdaynv .quote:before,#testimonialsThisthursdayl .quote:before,#testimonialsThisfridayv .quote:before,#testimonialsThisfridaynv .quote:before,#testimonialsThisfridayl .quote:before,#testimonialsThissaturdayv .quote:before,#testimonialsThissaturdaynv .quote:before,#testimonialsThissaturdayl .quote:before {
  margin-right: 10px;
  font-family: fontawesome;
  content: '\f10d';
}
#testimonialsveg .client,#testimonialsnonveg .client,#testimonialsLite .client,#testimonialsThismondayv .client,#testimonialsThismondaynv .client,#testimonialsThismondayl .client ,#testimonialsThistuesdayv .client,#testimonialsThistuesdaynv .client,#testimonialsThistuesdayl .client,#testimonialsThiswednesdayv .client,#testimonialsThiswednesdaynv .client,#testimonialsThiswednesdayl .client,#testimonialsThisthursdayv .client,#testimonialsThisthursdaynv .client,#testimonialsThisthursdayl .client,#testimonialsThisfridayv .client,#testimonialsThisfridaynv .client,#testimonialsThisfridayl .client,#testimonialsThissaturdayv .client,#testimonialsThissaturdaynv .client,#testimonialsThissaturdayl .client{ color: #0078c1 }
#testimonialsveg .carousel-indicators li,#testimonialsnonveg .carousel-indicators li,#testimonialsLite .carousel-indicators li,#testimonialsThismondayv .carousel-indicators li,#testimonialsThismondaynv .carousel-indicators li,#testimonialsThismondayl .carousel-indicators li,#testimonialsThistuesdayv .carousel-indicators li,#testimonialsThistuesdaynv .carousel-indicators li,#testimonialsThistuesdayl .carousel-indicators li,#testimonialsThiswednesdayv .carousel-indicators li,#testimonialsThiswednesdaynv .carousel-indicators li,#testimonialsThiswednesdayl .carousel-indicators li,#testimonialsThisthursdayv .carousel-indicators li,#testimonialsThisthursdaynv .carousel-indicators li,#testimonialsThisthursdayl .carousel-indicators li,#testimonialsThisfridayv .carousel-indicators li,#testimonialsThisfridaynv .carousel-indicators li,#testimonialsThisfridayl .carousel-indicators li,#testimonialsThissaturdayv .carousel-indicators li,#testimonialsThissaturdaynv .carousel-indicators li,#testimonialsThissaturdayl .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-color: #0078c1;
  
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.25s linear;
     -moz-transition: all 0.25s linear;
       -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
}
#testimonialsveg .carousel-indicators li:hover,#testimonialsnonveg .carousel-indicators li:hover,#testimonialsLite .carousel-indicators li:hover,#testimonialsThismondayv .carousel-indicators li:hover,#testimonialsThismondaynv .carousel-indicators li:hover,#testimonialsThismondayl .carousel-indicators li:hover,#testimonialsThistuesdayv .carousel-indicators li:hover,#testimonialsThistuesdaynv .carousel-indicators li:hover,#testimonialsThistuesdayl .carousel-indicators li:hover,#testimonialsThiswednesdayv .carousel-indicators li:hover,#testimonialsThiswednesdaynv .carousel-indicators li:hover,#testimonialsThiswednesdayl .carousel-indicators li:hover,#testimonialsThisthursdayv .carousel-indicators li:hover,#testimonialsThisthursdaynv .carousel-indicators li:hover,#testimonialsThisthursdayl .carousel-indicators li:hover,#testimonialsThisfridayv .carousel-indicators li:hover,#testimonialsThisfridaynv .carousel-indicators li:hover,#testimonialsThisfridayl .carousel-indicators li:hover,#testimonialsThissaturdayv .carousel-indicators li:hover,#testimonialsThissaturdaynv .carousel-indicators li:hover,#testimonialsThissaturdayl .carousel-indicators li:hover
#testimonialsveg .carousel-indicators li:focus,#testimonialsnonveg .carousel-indicators li:focus,#testimonialsLite .carousel-indicators li:focus,#testimonialsThismondayv .carousel-indicators li:focus,#testimonialsThismondaynv .carousel-indicators li:focus,#testimonialsThismondayl .carousel-indicators li:focus,#testimonialsThistuesdayv .carousel-indicators li:focus,#testimonialsThistuesdaynv .carousel-indicators li:focus,#testimonialsThistuesdayl .carousel-indicators li:focus,#testimonialsThiswednesdayv .carousel-indicators li:focus,#testimonialsThiswednesdaynv .carousel-indicators li:focus,#testimonialsThiswednesdayl .carousel-indicators li:focus,#testimonialsThisthursdayv .carousel-indicators li:focus,#testimonialsThisthursdaynv .carousel-indicators li:focus,#testimonialsThisthursdayl .carousel-indicators li:focus,#testimonialsThisfridayv .carousel-indicators li:focus,#testimonialsThisfridaynv .carousel-indicators li:focus,#testimonialsThisfridayl .carousel-indicators li:focus,#testimonialsThissaturdayv .carousel-indicators li:focus,#testimonialsThissaturdaynv .carousel-indicators li:focus,#testimonialsThissaturdayl .carousel-indicators li:focus { border-color: black }
#testimonialsveg .carousel-indicators .active,#testimonialsnonveg .carousel-indicators .active,#testimonialsLite .carousel-indicators .active,#testimonialsThismondayv .carousel-indicators .active,#testimonialsThismondaynv .carousel-indicators .active,#testimonialsThismondayl .carousel-indicators .active,#testimonialsThistuesdayv .carousel-indicators .active,#testimonialsThistuesdaynv .carousel-indicators .active,#testimonialsThistuesdayl .carousel-indicators .active,#testimonialsThiswednesdayv .carousel-indicators .active,#testimonialsThiswednesdaynv .carousel-indicators .active,#testimonialsThiswednesdayl .carousel-indicators .active,#testimonialsThisthursdayv .carousel-indicators .active,#testimonialsThisthursdaynv .carousel-indicators .active,#testimonialsThisthursdayl .carousel-indicators .active,#testimonialsThisfridayv .carousel-indicators .active,#testimonialsThisfridaynv .carousel-indicators .active,#testimonialsThisfridayl .carousel-indicators .active,#testimonialsThissaturdayv .carousel-indicators .active,#testimonialsThissaturdaynv .carousel-indicators .active,#testimonialsThissaturdayl .carousel-indicators .active{
  width: 12px;
  height: 12px;
  margin: 1px;
  background-color: #0078c1;
  border-color: #fff;
}
#testimonialsveg .carousel-indicators,#testimonialsnonveg .carousel-indicators,#testimonialsLite .carousel-indicators,#testimonialsThismondayv .carousel-indicators,#testimonialsThismondaynv .carousel-indicators,#testimonialsThismondayl .carousel-indicators,#testimonialsThistuesdayv .carousel-indicators,#testimonialsThistuesdaynv .carousel-indicators,#testimonialsThistuesdayl .carousel-indicators,#testimonialsThiswednesdayv .carousel-indicators,#testimonialsThiswednesdaynv .carousel-indicators,#testimonialsThiswednesdayl .carousel-indicators,#testimonialsThisthursdayv .carousel-indicators,#testimonialsThisthursdaynv .carousel-indicators,#testimonialsThisthursdayl .carousel-indicators,#testimonialsThisfridayv .carousel-indicators,#testimonialsThisfridaynv .carousel-indicators,#testimonialsThisfridayl .carousel-indicators,#testimonialsThissaturdayv .carousel-indicators,#testimonialsThissaturdaynv .carousel-indicators,#testimonialsThissaturdayl .carousel-indicators {
  bottom: 0;
  margin-bottom: 0;
}
#testimonialsveg .carousel-control,testimonialsnonveg .carousel-control,testimonialsLite .carousel-control,testimonialsThismondayv .carousel-control,testimonialsThismondaynv .carousel-control,testimonialsThismondayl .carousel-control,testimonialsThistuesdayv .carousel-control,testimonialsThistuesdaynv .carousel-control,testimonialsThistuesdayl .carousel-control,testimonialsThiswednesdayv .carousel-control,testimonialsThiswednesdaynv .carousel-control,testimonialsThiswednesdayl .carousel-control,testimonialsThisthursdayv .carousel-control,testimonialsThisthursdaynv .carousel-control,testimonialsThisthursdayl .carousel-control,testimonialsThisfridayv .carousel-control,testimonialsThisfridaynv .carousel-control,testimonialsThisfridayl .carousel-control,testimonialsThissaturdayv .carousel-control,testimonialsThissaturdaynv .carousel-control,testimonialsThissaturdayl .carousel-control {
  top: 15%;
  width: 0%;
  display: none;
  font-size: 40px;
  background-image: none;
  text-shadow: none;
}
#about .content { padding-bottom: 0 }
#about .teammate .bio { padding-top: 10px }
#about .teammate .profile-photo {
  overflow: hidden; 
} 
#about .teammate .profile-photo {
    overflow: hidden; 
    display: inline-block;
    width: 140px;
    height: 140px; 
}    
#about .teammate .profile-photo img {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}
#about .teammate:hover .profile-photo img,
#about .teammate:focus .profile-photo img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
#about .teammate .bio .border {
  height: 1px;
  margin: 15px auto;
}
#about .teammate .bio ul {
  margin-bottom: 0;
  font-size: 16px;
}
#about .teammate .bio a { color: #666 }
#about .teammate .bio a:hover,
#about .teammate .bio a:focus { color: #222 }
#about .twitter {
  padding: 20px 0;
  background-color: #181818;
  border-top: solid 1px #e7e7e7;
}
#about .twitter p { margin-bottom: 0 }
#about .twitter i {
  margin-bottom: 10px;
  color: #00aced;
}
.space{
     padding:35px 0 !important;
}


.space1{
     padding:0px 0 !important;
}

#contact {
  /*background: url(../img/cover/contact.jpg);*/

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;   
    padding:4% 65px !important;
    min-height:550PX;
}

#contact,
/*#contact a,
#contact a:hover,
#contact a:focus { color: #fff }*/
#contact .heading .border { background-color: #fff }
#contact a { display: block } 
#contact h2 { color:#585555; font-family:Arial;font-style:normal; text-transform:uppercase; }
#contact p { color:#585555;font-family:Arial;font-style:normal;}
/*#footer {
  padding: 40px 0;
  color: #ccc;
  text-align: center;
  background-color: black;
}
#footer a,
#footer a:hover,
#footer a:focus { color: #fff }
#footer .social { margin-bottom: 20px }
#footer .social li .facebook:hover,
#footer .social li .facebook:focus { color: #3b5998 }
#footer .social li .twitter:hover,
#footer .social li .twitter:focus { color: #00aced }
#footer .social li .google-plus:hover,
#footer .social li .google-plus:focus { color: #d34836 }
#footer .social li .dribbble:hover,
#footer .social li .dribbble:focus { color: #ea4c89 }
#footer .copyright { margin-bottom: 0 }
#footer .copyrights { margin-bottom: 10px;float:right; }*/
/*priceTable*/
/*Price Table*/	
.panel-danger>.panel-heading {
    color: #FFFFFF;
    background-color: #ac180d;
    border-color: #9E9E9E;
}

.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}

.panel {
    -webkit-transition-property: scale;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.panel:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}

/**
**** Form styles ****
**/
.form.contact {
	padding:45px 0 15px 0;
	margin:0;
	position:relative;
}

.form.contact .message {
	height:100px;
	width:100%;
	position:absolute;
	top:-100px;
	left:0;
	padding:0;
	background:#6ebff3;
	cursor:pointer;
}

.form.contact .message p {
	position:relative;
	font-family:"Roboto", Arial, sans-serif;
	font-size:22px;
	font-weight:100;
	color:#fff;
	line-height:100px;
	padding:0;
	margin:0;
}

.form.contact .message p .fa {
	padding:0 15px 0 0;
	position:relative;
	top:2px;
}

.form.contact .message .fa.arr {
	font-size:40px;
	line-height:0;
	z-index:1000;
	color:#6ebff3;
	position:absolute;
	top:95px;
	right:50%;
	margin:0 -12px 0 0 !important;
	padding:0;
}

.form.contact .message.warning {
	background:#f5b075;
}

.form.contact .message.warning .fa.arr {
	color:#f5b075;
}

.form.contact .input-group {
	width:100%;
	margin-bottom:30px;
	position:relative;
	display: inline-block;
}

.form.contact .input-group i {
	color:#fff;
	font-size:20px;
	position:absolute;
	line-height:66px;
	left:17px;
}

.form.contact .input-group input.lg,
.form.contact .input-group textarea.lg  {
	/*padding:0 10px;
	text-indent:40px;*/
	margin:0;
	height:46px;
    
	width:100%;
	line-height:20px;
	font-size:20px;
	font-weight:100;
	font-family:"Roboto", Arial, sans-serif;
	/*color:black;*/
	border:1px solid #0078c1;
	outline:none;
	-webkit-border-radius: 0.5px;
	-moz-border-radius: 0.5px;
	border-radius: 1px;
	background: white;
   -webkit-box-shadow: 0px 0px 1px 0px #0078c1;
     -moz-box-shadow: 0px 0px 1px 0px #0078c1;
          box-shadow: 0px 0px 1px 0px #0078c1;
  
}
.dd {
	/*padding:0 10px;*/
	/*text-indent:40px;*/
	margin:0;
	height:46px;
	width:100%;
	line-height:20px;
	font-size:20px;
	font-weight:100;
	font-family:"Roboto", Arial, sans-serif;
	/*color:black;*/
	border:1px solid #0078c1;
	outline:none;
	-webkit-border-radius: 0.5px;
	-moz-border-radius: 0.5px;
	border-radius: 1px;
	background: white;
    -webkit-box-shadow: 0px 0px 1px 0px #0078c1;
     -moz-box-shadow: 0px 0px 1px 0px #0078c1;
          box-shadow: 0px 0px 1px 0px #0078c1;
}

.form.contact .input-group textarea.lg{
	height:180px;
	text-indent:10px;
	padding-top:15px;
	resize:none;
}

.form.contact .input-group textarea:disabled{
	height:180px;
	text-indent:10px;
	padding-top:15px;
	resize:none;
}


.form.contact .input-group input:focus,
.form.contact .input-group textarea:focus {
	border-color:#6ebff3;
}

.form.contact .input-group input.err,
.form.contact .input-group textarea.err{
	border-color:#f5b075 !important;
}

.form.contact .input-group button.submit , .btn1{
	border-style: none;
    border-color: inherit;
    border-width: 0;
    width:100%;
	background:#0078c1;
	font-family:"Roboto", Arial, sans-serif;
	color:#fff;
	font-size:18px;
	outline:none;
	font-weight:300;
    height :66px;
    
}

.form.contact .input-group button.submit:hover, .btn1:hover {
	background:#0078c1;
}


.btnmodal{
	border-style: none;
    border-color: inherit;
    background-image: url(../img/cover/home.jpg);
    border-width: 0;
    width:100%;
	background:transparent;
	font-family:"Roboto", Arial, sans-serif;
	color:white;
	font-size:18px;
	outline:none;
	font-weight:300;
    height :76px;
}

/*.btnmodal:hover {
	background:#5f29b2;
}*/

.form.contact #message_sent {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	z-index:100000;
	background:#6ebff3;
	width:100%;
	display:none;
}

.form.contact #message_sent i.fa {
	font-size:120px;
	position:relative;
	text-align:center;
	line-height:0;
	top:50%;
	margin:auto;
	vertical-align:middle;
	color:#fff;
	display:none;
}

.form.contact #message_sent p {
	font-size:45px;
	font-weight:100;
	font-family:"Roboto", Arial, sans-serif;
	color:#fff;	
	position:relative;
	text-align:center;
	line-height:0;
	top:54%;
	display:none;
}

.form.contact.style-2 {
	margin-top:0;
	padding-top:0;
}

.form.contact.style-2 .input-group input,
.form.contact.style-2 .input-group textarea {
	-webkit-box-shadow: 0 0 1px 0px rgba(230,230,230,1);
	-moz-box-shadow: 0 0 1px 0px rgba(230,230,230,1);
	box-shadow: 0 0 1px 0px rgba(230,230,230,1);
}

.form.contact.style-2 .input-group input:focus,
.form.contact.style-2 .input-group textarea:focus{
	-webkit-box-shadow: 0 0 4px 0px rgba(230,230,230,1);
	-moz-box-shadow: 0 0 4px 0px rgba(230,230,230,1);
	box-shadow: 0 0 4px 0px rgba(230,230,230,1);
}

.form.contact .input-group.tight {
	margin-right:2%;
	width:49%;
	float:left;
}

.form.contact .input-group.tight.second {
	margin-right:0;
}
 
.form.contact .input-group.tight input.lg ,.dd{
	width:100%;
}
/* Responsive style */
@media screen and (max-width: 1024px) { 
   #testimonialsveg .carousel-control,#testimonialsnonveg .carousel-control,#testimonialsLite .carousel-control,#testimonialsThismondayv .carousel-control,#testimonialsThismondaynv .carousel-control,#testimonialsThismondayl .carousel-control,#testimonialsThistuesdayv .carousel-control,#testimonialsThistuesdaynv .carousel-control,#testimonialsThistuesdayl .carousel-control,#testimonialsThiswednesdayv .carousel-control,#testimonialsThiswednesdaynv .carousel-control,#testimonialsThiswednesdayl .carousel-control,#testimonialsThisthursdayv .carousel-control,#testimonialsThisthursdaynv .carousel-control,#testimonialsThisthursdayl .carousel-control,#testimonialsThisfridayv .carousel-control,#testimonialsThisfridaynv .carousel-control,#testimonialsThisfridayl .carousel-control,#testimonialsThissaturdayv .carousel-control,#testimonialsThissaturdaynv .carousel-control,#testimonialsThissaturdayl .carousel-control { display: block }
}
@media screen and (max-width: 991px) { 
  #portfolio .items li { width: 50% }
  #testimonialsveg .quote,#testimonialsnonveg .quote,#testimonialsLite .quote,#testimonialsThismondayv .quote,#testimonialsThismondaynv .quote,#testimonialsThismondayl .quote,#testimonialsThistuesdayv .quote,#testimonialsThistuesdaynv .quote,#testimonialsThistuesdayl .quote,#testimonialsThiswednesdayv .quote,#testimonialsThiswednesdaynv .quote,#testimonialsThiswednesdayl .quote,#testimonialsThisthursdayv .quote,#testimonialsThisthursdaynv .quote,#testimonialsThisthursdayl .quote,#testimonialsThisfridayv .quote,#testimonialsThisfridaynv .quote,#testimonialsThisfridayl .quote,#testimonialsThissaturdayv .quote,#testimonialsThissaturdaynv .quote,#testimonialsThissaturdayl .quote { padding: 0 70px }
}
@media (max-width: 767px) { 
  .page .content.cover { padding: 160px 0 }
  #testimonialsveg .quote,#testimonialsnonveg .quote,#testimonialsLite .quote,#testimonialsThismondayv .quote,#testimonialsThismondaynv .quote,#testimonialsThismondayl .quote,#testimonialsThistuesdayv .quote,#testimonialsThistuesdaynv .quote,#testimonialsThistuesdayl .quote,#testimonialsThiswednesdayv .quote,#testimonialsThiswednesdaynv .quote,#testimonialsThiswednesdayl .quote,#testimonialsThisthursdayv .quote,#testimonialsThisthursdaynv .quote,#testimonialsThisthursdayl .quote,#testimonialsThisfridayv .quote,#testimonialsThisfridaynv .quote,#testimonialsThisfridayl .quote,#testimonialsThissaturdayv .quote,#testimonialsThissaturdaynv .quote,#testimonialsThissaturdayl .quote { padding: 0 50px }
  #testimonialsveg .carousel-control.right,#testimonialsnonveg .carousel-control.right,#testimonialsLite .carousel-control.right,#testimonialsThismondayv .carousel-control.right,#testimonialsThismondaynv .carousel-control.right,#testimonialsThismondayl .carousel-control.right,#testimonialsThistuesdayv .carousel-control.right,#testimonialsThistuesdaynv .carousel-control.right,#testimonialsThistuesdayl .carousel-control.right,#testimonialsThiswednesdayv .carousel-control.right,#testimonialsThiswednesdaynv .carousel-control.right,#testimonialsThiswednesdayl .carousel-control.right,#testimonialsThisthursdayv .carousel-control.right,#testimonialsThisthursdaynv .carousel-control.right,#testimonialsThisthursdayl .carousel-control.right,#testimonialsThisfridayv .carousel-control.right,#testimonialsThisfridaynv .carousel-control.right,#testimonialsThisfridayl .carousel-control.right,#testimonialsThissaturdayv .carousel-control.right,#testimonialsThissaturdaynv .carousel-control.right,#testimonialsThissaturdayl .carousel-control.right { right: 10px }
       .heroText {margin-top: 30%;    }
    .heroText h2{font-size: 60px; line-height: 60px;}
    .heroText h2 strong{font-size: 45px;}
    .navbar-nav>li>a {
    line-height: 35px;
    }
    .nav>li>a { 
padding: 2px 15px;
}
}
@media (max-width: 480px) { 
  .page .content.cover { padding: 80px 0 }
  #portfolio .items li { width: 100% }
  #testimonialsveg .quote,#testimonialsnonveg .quote,#testimonialsLite .quote,#testimonialsThismondayv .quote,#testimonialsThismondaynv .quote,#testimonialsThismondayl .quote,#testimonialsThistuesdayv .quote,#testimonialsThistuesdaynv .quote,#testimonialsThistuesdayl .quote,#testimonialsThiswednesdayv .quote,#testimonialsThiswednesdaynv .quote,#testimonialsThiswednesdayl .quote,#testimonialsThisthursdayv .quote,#testimonialsThisthursdaynv .quote,#testimonialsThisthursdayl .quote,#testimonialsThisfridayv .quote,#testimonialsThisfridaynv .quote,#testimonialsThisfridayl .quote,#testimonialsThissaturdayv .quote,#testimonialsThissaturdaynv .quote,#testimonialsThissaturdayl .quote { padding: 0 30px }
    .heroText {margin-top: 60%;    }
    .heroText h2{font-size: 40px; line-height: 40px;}
    .heroText h2 strong{font-size: 25px;}
}



 
    body
    {
        font-family: Arial;
        font-size: 10pt;
    }
    .modalBackground
    {
        background-color: Black;
        filter: alpha(opacity=40);
        opacity: 0.4;
    }
    .modalPopup
    {
        background-color: #FFFFFF;
      width:70%;
        border: 0.5px solid black;
    }
    .modalPopup .header
    {
        background-color: black;
        height: 30px;
        color: white;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .modalPopup .body
    {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .modalPopup .footer
    {
        padding: 3px;
    }
    .modalPopup .yes, .modalPopup .no
    {
        height: 23px;
        color: White;
        line-height: 23px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
    .modalPopup .yes
    {
        background-color: #b87fed;
        border: 1px solid #0DA9D0;
    }
    .modalPopup .no
    {
        background-color: #b87fed;
        border: 1px solid #5C5C5C;
    }









     body1
    {
        font-family: Arial;
        font-size: 10pt;
    }
  
    .modalPopup .header1
    {
        background-color: black;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .modalPopup .body1
    {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .modalPopup .footer1
    {
        padding: 3px;
        text-align:center;
    }
  









    /********** Login *************/
/*-------LOGIN STARTS HERE -------*/
#loginContainer {
    position:relative;
}
#loginContainer a span{
  display:block;
  padding:4px 25px;
}
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position:absolute;
    top:60px;
    right:10px;
    display:none;
    z-index:29;
}
#loginForm:after {
	content: '';
	position: absolute;
	right: 40px;
	top: -10px;
	border-left:10px solid rgba(0, 0, 0, 0);
	border-right:10px solid rgba(0, 0, 0, 0);
	border-bottom:10px solid #0078c1;
}
/* Login Form */
#loginForm {
    width:248px; 
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top: 0px;
	background: #0078c1;
	border: 1px solid #0078c1;
}
#loginForm fieldset {
    margin:0 0 10px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding:15px 15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
    color:#FFF;
    margin:10px 0 0 0;
    display:block;
    float:left;
    font-size:0.8em;
}
#loginForm #body fieldset label{
    display:block;
    float:none;
    margin:0 0 6px 0;
}
#body label i{
	color: #383838;
	text-shadow: 1px 1px #929292;
    font-weight:500;
}
/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #DADADA;
	color: #222;
	background:#FFF;
    padding:8px 8px;
    font-size:0.85em;
    font-family: 'Roboto', sans-serif;
    -webkit-apperance:none;
}


#loginForm textarea {
    width:92%;
    border:1px solid #DADADA;
	color: #222;
	background:#FFF;
    padding:8px 8px;
    font-size:0.85em;
    font-family: 'Roboto', sans-serif;
    -webkit-apperance:none;
}


/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    font-family: 'Roboto', sans-serif;
    background:#6D2CC2;
    color:#fff;
    font-size:0.8em;
    padding:8px 15px;
    border:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -webkit-apperance:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
    transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px;
}
#loginForm #login:hover {
	background:#57229B;
}
/* Forgot your password */
/*#loginForm span{
    display:block;
    padding:0px 0px 15px 0px;
}
#loginForm span a{
    color:#383838;
    text-shadow:1px 1px #929292;
    font-size:0.8em;
    font-weight:500;
    background: none;
	border: none;
	box-shadow: none;
}
#loginForm span a:hover{
	text-decoration:underline;
}*/
input:focus {
    outline:none;
}



.btn2{
    -moz-appearance: none;
border-radius: 0px;
border-style: solid;
border-width: 0px;
cursor: pointer;
font-family: "Raleway",Helvetica,Arial,sans-serif;
font-weight: 700;
line-height: normal;
margin: 0px 0px 1.25rem;
position: relative;
text-align: center;
text-decoration: none;
display: inline-block;
padding: 1rem 2rem 1.0625rem;
font-size: 0.925rem;
background-color: WHITE;
border-color: #0078c1;
color: #333;
transition: background-color 300ms ease-out 0s;
border-radius: 2px;
color: #0078c1;
letter-spacing: 0.15rem;
text-transform: uppercase;
display: inline-block;
margin-bottom: 0px;
vertical-align: middle;
-webkit-box-shadow: 0px 0px 4px 0px #0078c1;
     -moz-box-shadow: 0px 0px 4px 0px #0078c1;
          box-shadow: 0px 0px 4px 0px #0078c1;
}
.btn2:hover {
   
  -moz-appearance: none;
border-radius: 0px;
border-style: solid;
border-width: 0px;
cursor: pointer;
font-family: "Raleway",Helvetica,Arial,sans-serif;
font-weight: 700;
line-height: normal;
margin: 0px 0px 1.25rem;
position: relative;
text-align: center;
text-decoration: none;
display: inline-block;
padding: 1rem 2rem 1.0625rem;
font-size: 0.925rem;
background-color: #0078c1;
border-color: #F85E3C;
color: #333;
transition: background-color 300ms ease-out 0s;
border-radius: 2px;
color: #FFF;
letter-spacing: 0.15rem;
text-transform: uppercase;
display: inline-block;
margin-bottom: 0px;
vertical-align: middle;

}


.footer_part
{
	background:url(../../Images/footer-bg.jpg);
     
	color:#777;
}
.footer_a
{color:#777;
}





